@font-face {
    font-family: 'DB Adman X';
    src: url('DBAdmanX.eot');
    src: url('DBAdmanX.eot?#iefix') format('embedded-opentype'),
        url('DBAdmanX.woff2') format('woff2'),
        url('DBAdmanX.woff') format('woff'),
        url('DBAdmanX.ttf') format('truetype'),
        url('DBAdmanX.svg#DBAdmanX') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPS-BoldMT.eot');
    src: url('TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('TimesNewRomanPS-BoldMT.woff2') format('woff2'),
        url('TimesNewRomanPS-BoldMT.woff') format('woff'),
        url('TimesNewRomanPS-BoldMT.ttf') format('truetype'),
        url('TimesNewRomanPS-BoldMT.svg#TimesNewRomanPS-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.con{
    width: 100%;
    height: 100%;
    display: flex;
}
.imgg{
    width: 60vw;
    height: 48vw;
    position: relative;
}

.imgg img{
    width: 60vw;
    height: 48vw;
    object-fit: cover;
}



.textall{
    position: absolute;
    top: 8vw;
    left: 0;
    margin-left: 10vw;
    font-family: "Times New Roman";
}

.texth{
    color: rgb(255, 255, 255);
    font-size: 3.274524158125915vw;
    font-family: 'Times New Roman';
    font-weight: bold;
    
}
.texth2{
    color: rgb(26, 26, 26);
    font-size: 3.274524158125915vw;
    font-family: "Times New Roman";
    font-weight: bold;
    
}

.text1{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.637628111273792vw;
    word-break: break-all;
    font-family: 'DB Adman X';

}

.text11{
    width: 100%;
    color: rgb(255, 255, 255);
    word-break: break-all;
    font-family: 'DB Adman X';

}
.imgg2 img{
    width: 30vw;
    height: 30w;
    left: 7vw;
    top: 8vw;
    position: relative;
}


.section02{
    position: relative;
}
.section02 img{
    width: 98.79vw;
}

.textall2{
    position: absolute;
    margin-left: 45vw;
    font-size: 1.637628111273792vw;
    top: 15vw;
    font-family: "Times New Roman";
    color: rgb(255, 254, 254);
}

.text3{
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.637628111273792vw;
    word-break: break-all;
    font-family: 'DB Adman X';
}

.textall3{
    position: absolute;
    top: 2.5vw;
    top: 3.5vw;
    left: 0;
    margin-left: 10vw;
    font-family: "Times New Roman";
}

.imgg3logo img{
    width: 39vw;
    height: 35vw;
    position: relative;
}

.imgg3{
    width: 60vw;
    height: 35w;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.section04{
    position: relative;
}
.section04{
    background-color: rgb(211, 211, 211);
    width: 98.79vw;
    height: 20vw;
}

.textall4{
    position: absolute;
    top:3vw;
    margin-left: 42.5vw;
    font-size: 1.637628111273792vw;
    font-family: "Times New Roman";
    color: rgb(0, 0, 0);
}

.We{
    margin-left: -4vw;
    font-family: 'DB Adman X';
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.btnss {
  margin-left: 1.5vw;
  margin-top: 1.7vw;
  background: #4c4c4d;
  border-radius: 2vw;
  box-shadow: rgba(159, 160, 159, 0.2) 0 -25px 18px -14px inset,rgba(135, 136, 135, 0.15) 0 1px 2px,rgba(128, 128, 128, 0.15) 0 2px 4px,rgba(107, 107, 107, 0.15) 0 4px 8px ,rgba(110, 110, 110, 0.15);
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 1.637628111273792vw;
  cursor: pointer;
  line-height: 1vw;
  outline: 0 solid transparent;
  padding: 1vw 1vw;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  font-family: 'DB Adman X';
}

.textbutton{
    width: 100%;
    color: rgb(255, 255, 255);

}


@media only screen and (max-width: 812px) {
    .imgg{
        width: 60vw;
        height: 70vw;
        position: relative;
    }
    
    .imgg img{
        width: 60vw;
        height: 70vw;
        object-fit: cover;
    }

    .imgg3logo img{
        width: 39vw;
        height: 70vw;
        position: relative;
    }
    
    .imgg3{
        width: 60vw;
        height: 70w;
        position: relative;
        background-color: rgb(255, 255, 255);
    }

    .section04{
        position: relative;
    }
    .section04{
        background-color: rgb(211, 211, 211);
        width: 98.79vw;
        height: 40vw;
    }

    
    .section02{
        position: relative;
    }
    .section02 img{
        background-color: #000;
        width: 98.79vw;
        height: 60vw;
    }

    .textall{
        top: 13vw;
        left: 0;
        margin-left: 3vw;
        font-family: "Times New Roman";
    }

    .text1{
        color: rgb(255, 255, 255);
        font-size: 2.937628111273792vw;
        font-family: 'DB Adman X';
    
    }

    .texth{
        color: rgb(255, 255, 255);
        font-size: 4.74524158125915vw;
        font-family: 'Times New Roman';
        font-weight: bold;
        
    }
    .text3{
        color: rgb(0, 0, 0);
        font-size: 2.637628111273792vw;
        word-break: break-all;
        font-family: 'DB Adman X';
    }
    .textall3{
        top: 10.5vw;
        margin-left: 3vw;
    }

    .textall4{
        top:10vw;
        font-size: 2.637628111273792vw;
        color: rgb(0, 0, 0);
        margin-left: 38vw;
    }

    .texth2{
        color: rgb(26, 26, 26);
        font-size: 5.274524158125915vw;
        
    }
    .We{
        margin-left: -7vw;
    }
    .btnss{
        margin-left: 6vw;
    }

    .imgg2 img{
        top: 15vw;
        position: relative;
    }
    
    
  }












